# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
*/.DS_Store
static/media/files/.DS_Store
static/media/files/Resume/.DS_Store
.DS_Store
.Rproj.user
assets/media/files/Resume/.Rproj.user/
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/1A5B8CFC
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/1A5B8CFC-contents
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/53812312
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/53812312-contents
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/7FD4F89D
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/7FD4F89D-contents
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/FD33CA6
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/per/t/FD33CA6-contents
assets/media/files/Resume/.Rproj.user/269DA5B9/sources/prop/INDEX
assets/media/files/Resume/.Rproj.user/shared/notebooks/6255FA68-resume/1/269DA5B9A26FEA1F/chunks.json
assets/media/files/Resume/.Rproj.user/shared/notebooks/6255FA68-resume/1/s/chunks.json
assets/media/files/Resume/.Rproj.user/shared/notebooks/723FB867-cv/1/269DA5B9A26FEA1F/chunks.json
assets/media/files/Resume/.Rproj.user/shared/notebooks/723FB867-cv/1/s/chunks.json
assets/media/files/Resume/.Rproj.user/shared/notebooks/paths
