# IDEs
assets/media/files/Resume/.Rproj.user/
assets/media/img/Logo/.Rproj.user/
*.Rhistory
assets/media/files/Resume/.Rhistory
.idea/

# Hugo
/resources/
public/
jsconfig.json
*/.DS_Store
static/media/files/.DS_Store
static/media/files/Resume/.DS_Store
.DS_Store

